<%- include("components/header") %>
<%- include("components/menu", { eventId: eventId }) %>
<%- include("components/responsive_layout_style") %>
<link rel="stylesheet" href="/admin/assets/css/style.css">

<div id="right-panel" class="right-panel">
    <%- include("components/rightpanel_header") %>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title"><%= attendee.name %> - <%= t('event_attendees.pointListTitle') %></strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><%= t('event_attendees.colCodeName') %></th>
                                        <th><%= t('event_attendees.colPoints') %></th>
                                        <th><%= t('event_attendees.colQrCode') %></th>
                                    </tr>
                                </thead>
                                <tbody id="attendeePointList">
                                    <% attendee.promo_codes.forEach(promo => { %>
                                        <tr>
                                            <td><%= promo.code_name %></td>
                                            <td><%= promo.point %></td>
                                            <td>
                                                <div id="qrcode-<%= promo._id %>" class="qrcode"></div>
                                                <script>
                                                    const qrcode = new QRCode(document.getElementById("qrcode-<%= promo._id %>"), {
                                                        text: `eventId=<%= eventId %>&attendeeId=<%= attendee._id %>&promo_code_id=<%= promo._id %>`,
                                                        width: 100,
                                                        height: 100,
                                                    });
                                                </script>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <div id="result" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("components/footer") %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
