<%- include ("components/header") %>
<%- include ("components/menu", {eventId: ''}) %>
<%- include("components/responsive_layout_style") %>
<div id="right-panel" class="right-panel">
    <%- include ("components/rightpanel_header") %>
    <div class="content">
        <div class="animated fadeIn">
            <h2><%= t('home.welcome') %></h2>
            <a href="/events/list" class="btn btn-primary"><%= t('home.eventList') %></a>
            <a href="/logout" class="btn btn-danger"><%= t('common.logout') %></a>
        </div>
    </div>
</div>
<%- include ("components/footer") %>
