<%- include("../components/header") %>
<%- include("../components/menu", { eventId: eventId }) %>
<link rel="stylesheet" href="/admin/assets/css/style.css">

<div id="right-panel" class="right-panel">
    <%- include("../components/rightpanel_header") %>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title"><%= t('points_pages.createHeading') %></strong>
                        </div>
                        <div class="card-body">
                            <form id="createPointForm" action="/events/<%= eventId %>/points" method="POST">
                                <div class="form-group">
                                    <label for="point"><%= t('points_pages.pointsLabel') %></label>
                                    <input type="number" class="form-control" id="point" name="point" required>
                                </div>
                                <button type="submit" class="btn btn-primary"><%= t('points_pages.createBtn') %></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../components/footer") %>
