<%- include("../components/header") %>
<%- include("../components/menu", { eventId: eventId }) %>
<link rel="stylesheet" href="/admin/assets/css/style.css">

<div id="right-panel" class="right-panel">
    <%- include("../components/rightpanel_header") %>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title"><%= t('points_pages.editHeading') %></strong>
                        </div>
                        <div class="card-body">
                            <form id="editPointForm">
                                <div class="form-group">
                                    <label for="point"><%= t('points_pages.pointsLabel') %></label>
                                    <input type="number" class="form-control" id="point" name="point" value="<%= point.point %>" required>
                                </div>
                                <button type="submit" class="btn btn-primary"><%= t('points_pages.updateBtn') %></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../components/footer") %>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
const _EP = {
    updateSuccess: '<%= t("points_pages.updateSuccess") %>',
    updateFailed: '<%= t("points_pages.updateFailed") %>'
};

    $('#editPointForm').on('submit', function(e) {
        e.preventDefault();

        const pointValue = $('#point').val();
        const eventId = '<%= eventId %>';
        const pointId = '<%= point._id %>';

        $.ajax({
            url: `/events/${eventId}/points/${pointId}`,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ point: pointValue }),
            success: function(response) {
                alert(_EP.updateSuccess);
                window.location.href = `/events/${eventId}/points/list`;
            },
            error: function(err) {
                alert(_EP.updateFailed);
            }
        });
    });
</script>
