<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                    
                </li>
                <li class="menu-title">Admin</li><!-- /.menu-title -->
                <li>
                    <a href="/events/list"> <i class="menu-icon ti-server"></i>Events </a>
                </li>
                <li>
                    <!-- <a href="/auth/add"> <i class="menu-icon ti-server"></i>Create auth </a> -->
                </li>
                <li>
                    <a href="/emailTemplate"> <i class="menu-icon ti-server"></i>Email </a>
                </li>
                
                
               
                <% if(eventId) { %>
                <li class="menu-title">Event Items</li><!-- /.menu-title -->
                <li>
                    <a href="/"> <i class="menu-icon ti-email"></i>RSVP </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Attendees</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-line-chart"></i><a href="/events/<%=eventId%>/attendees/create">Create Attendees</a></li>
                        <li><i class="menu-icon fa fa-area-chart"></i><a href="/events/<%=eventId%>/attendees">Attendees List</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Lucky Draw</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-rotate-left"></i><a href="/events/<%=eventId%>/luckydraw/list">Luckydraw List</a></li>
                        <li><i class="menu-icon fa fa-area-chart"></i><a target="_blank" href="/events/<%=eventId%>/luckydraw">Open LuckyDraw Page</a></li>
                        <li><i class="menu-icon fa fa-cog"></i><a href="/events/<%=eventId%>/luckydraw_setting">LuckyDraw Setting</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/events/<%=eventId%>/settings"> <i class="menu-icon fa fa-cog"></i>Settings</a>
                </li>
                <li>
                    <a href="/events/<%=eventId%>/qrcodeLogin" target="_blank"> <i class="menu-icon fa fa-qrcode"></i>QRcode Login page</a>
                </li>
                
                <% } %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->